### Gradle ###
.gradle
build/
!**/src/main/**/generated/
.gradle/
build/
out/

### Java ###
*.class
*.jar
*.war
*.ear
*.iml

### Spring Boot ###
/target/
/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/

### Logs ###
*.log

### Mac ###
.DS_Store

### Docker ###
/docker-compose.override.yml
*.env
**/.dockerignore

### Node ###
node_modules/
npm-debug.log
yarn-error.log

### Others ###
/**/.properties
/*.bak
*.swp
*.swo
.project
.classpath
.settings/
.temp
